<form method="post" action="/create/image" enctype="multipart/form-data">
	<label for="image">Add an image: </label>
	<div>
		<input type="file" name="image">
    <button type="submit">Create</button>
  </div>
</form>